{{ define "main" }}
<div class="container mx-auto max-w-6xl">
    <div class="text-center text-gray-700">
        <hr>
        <h2 class="text-center md:text-left text-3xl font-semibold pt-8 pb-4 px-4">
            All content
        </h2>
        <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-4">
            {{ range .Pages }}
            <div class="max-w-xs mx-auto my-2 rounded overflow-hidden shadow-lg hover:shadow-outline">
                <a href="{{ .Permalink }}" class="min-h-full">
                    <div class="px-4 py-2 flex flex-col h-full">
                        <div class="text-gray-700 text-xl mb-2">{{ .Title }}</div>
                        <p class="text-gray-600 text-base">
                            {{ .Description }}
                        </p>
                        <div class="mt-auto">
                            <div class="flex items-center justify-center pt-8 pb-2">
                                {{ if .Params.HasMSBuild }}
                                <span
                                  class="inline-flex items-center px-3 py-1 mx-1 rounded-full text-sm font-medium leading-5 bg-red-200 text-red-800">
                                  MSBuild
                                </span>
                                {{ end }}
                                
                                {{ if .Params.HasBlog }}
                                <span
                                    class="inline-flex items-center px-3 py-1 mx-1 rounded-full text-sm font-medium leading-5 bg-purple-200 text-purple-800">
                                    Blog
                                </span>
                                {{ end }}

                                {{ if .Params.HasPodcast }}
                                <span
                                    class="inline-flex items-center px-3 py-1 mx-1 rounded-full text-sm font-medium leading-5 bg-orange-200 text-orange-800">
                                    Podcast
                                </span>
                                {{ end }}

                                {{ if .Params.HasVideo }}
                                <span
                                    class="inline-flex items-center  px-3 py-1 mx-1 rounded-full text-sm font-medium leading-5 bg-teal-200 text-teal-800">
                                    Video
                                </span>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}